bin/
task-cli
tasks-cli.json

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build directories
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.swp